:root {
    /* Configurable variables: https://github.com/hakimel/reveal.js/blob/master/css/theme/template/exposer.scss */
    /* --r-main-font: Helvetica; */
    --primary-color: #a626a4;
    --selection-color: hsla(301, 63%, 40%, 1);
    --r-main-font-size: 33px;
    --r-link-color: var(--primary-color);
    --r-link-color-hover: #f113ed;
}

.reveal {
    font-weight: 300;
    color: #444;
}

.reveal .slides {
    text-align:left;
}

.reveal pre {
    box-shadow: none;
    line-height: 1.5;
}

.reveal small,
.reveal small * {
    vertical-align: inherit;
}

.reveal pre {
    font-size: 0.8em;
    width: auto;
}

.reveal ul ul {
    margin: 0;
}

pre code.hljs {
    border-radius: 6px;
}

code {
    background-color: #fafafa;
}

:not(pre) code {
    background-color: #fafafa;
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 6px;
}

.katex {
    font-size: 1em;
}

.reveal h1 {
    margin-bottom: 0.5em;
}

.reveal h1::after {
    content: "";
    display: block;
    width: 3em;
    height: 0.3em;
    background-color: var(--primary-color);
}


.reveal h2 {
    margin-bottom: 1em;
}

.reveal h2::after {
    content: "";
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: var(--primary-color);
}

.reveal h3 {
    margin-bottom: 1em;
}

.reveal h3::after {
    content: "";
    display: block;
    width: 1.5em;
    height: 0.15em;
    background-color: var(--primary-color);
}

.reveal ul, .reveal ol {
    display: block;
    margin: 1em 0em;
    padding-left: 1.5em;
}

.reveal .slides section .fragment {
    opacity: 0.25;
    visibility: visible;
}

.reveal .slides section .fragment.visible {
    opacity: 1;
}

.reveal ::selection {
    background-color: var(--selection-color);
}

#TOC ul {
    columns: 2;
}
